.card-div img{
    width: 50%;
    object-fit: cover;
}

.card-div{
    max-width: 650px;
    display: flex;
    background-color: white; 
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin: 10px;
}

.card-data{
    margin: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.card-data h3{
    font-size: 26px;
    margin-bottom: 11px;
    line-height: 27px;
    width: 100%;
}

.preco{
    width: 100%;
}

.card-data button{
    border: none;
    background-color: rgb(224, 90, 90);
    color: white;
    border-radius: 23px;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}

h3{
    margin: 0;
}


.quant{
    display: flex;
    background-color: rgb(218, 218, 218);
    width: 75px;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 23px;
}

 p{
    margin: 0;
}

.quant span{
    
    font-weight: 300;
    cursor: pointer;
    font-size: 30px;
}

.menos{
    margin-bottom: 5px;
}

.quant-button{
    margin-top: 17px;
    display: flex;
    align-items: center;
}

@media (max-width: 960px){
    .card-div img{
        width: 40%;
    }
    
    
    .card-data{
        width: 60%;
    }
}

@media (max-width: 735px){
    .card-div img{
        width: 50%;
    }
    
    
    .card-data{
        width: 50%;
    }

    .card-div{
        max-width: 100%;
    }
}

@media (max-width: 700px){
    .card-div{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 517px){
    .card-div{
        display: block;
    }
    .card-div img{
        width: 100%;
        height: 150px;
    }
    .card-data{
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-bottom: 25px;
    }
}